@import '../theme.css';

.workflow-container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.workflow {
  background: var(--dark);
  border-radius: 2px;
  border: 1px solid var(--grey);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .workflow {
    width: 90%;
    min-height: 90%;
    position: absolute;
  }
}

@media (min-width: 992px) {
  .workflow {
    width: 90%;
    min-height: 70%;
    max-width: 1200px;
  }
}

.step-number {
  background: var(--orange);
  color: black;
  font-family: MotionControl, Impact, sans-serif;
  display: block;
  text-align: center;
  padding: 7px 14px;
  margin-top: 15px;
  line-height: 20px;
  font-size: 20px;
}

.workflow-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
